{% template grid %}
<div class="{{stretch}}" style="aspect-ratio: 1;">

  <table id="puzzle-grid" class="text--center" style="aspect-ratio: 1;">
    {% comment %} Render the grid using Liquid {% endcomment %}
    {% for i in (0..gridSize) %}
    {% assign row_index = i %}
    {% if i < gridSize %}
              <tr>
                {% for j in (0..gridSize) %}
                {% assign col_index = j %}
                {% if j < gridSize %}
                          {% assign cell_index = row_index | times: gridSize | plus: col_index %}
                          <td>{{ grid | slice: cell_index, 1 }}</td>
                  {% endif %}
                  {% endfor %}
              </tr>
      {% endif %}
      {% endfor %}
  </table>
</div>

{% endtemplate %}
{% template puzzle %}
{% liquid 
assign difficulty = trmnl.plugin_settings.custom_fields_values.difficulty | default: "easy"
assign show_solution = trmnl.plugin_settings.custom_fields_values.show_solution | default: "yes"

# Extract words from solution using Liquid
assign solution = puzzle.solution
assign wordlist = puzzle.wordlist
assign theme = puzzle.theme
assign gridSize = puzzle.gridSize
assign grid = puzzle.grid

assign solution_parts = solution | split: ','
assign word_count = wordlist.size
assign id = puzzle.id
# Split word_list into an array for easy access
assign words = wordlist

# Convert grid string to 2D array for rendering
assign grid_array = ''
assign gridSize_squared = gridSize | times: gridSize
unless wordlist_layout 
assign wordlist_layout = "col"
endunless
# Build QR code URL
assign qr_data = 'https://excusemi.github.io/trmnl-word-search-plugin/?id=' | append: id
%}

<style>
  #puzzle-grid {
    table-layout: fixed;
    border-collapse: collapse;
    aspect-ratio: 1;
  }

  #puzzle-grid tr td {
    border: solid 1px black;
    aspect-ratio: 1;
    font-weight: 500;
    line-break: 1;
    text-align: center;
    vertical-align: middle;
    font-family: var(--label-font-family);

  }
</style>
<div class="layout layout--stretch layout--center">
  <div class="flex flex--{% if vertical %}col{%else%}row{%endif%} flex--center flex--evenly stretch gap--large">
    {% unless horizontal %}
    <div class="flex flex--col flex--center stretch">
      {% unless show_words %}
      <span class="label label--inverted">{{ theme | upcase }}</span>
      {% endunless %}
      {% render "grid", grid: grid, gridSize:gridSize, stretch: stretch %}
    </div>
    {% endunless %}
  
    <div class="flex flex--center flex--{{wordlist_layout}} gap--xlarge  stretch mt--2">
      {% if show_words %}
      {% if difficulty != "hard" %}
      <div class="flex flex--col flex--top stretch-y">

        <span class="label label--inverted ">{{ theme | upcase }}</span>
        <div class="grid grid--cols-2">
          {% for word in wordlist %}
          <span class="label mr--2">{{ word }}</span>
          {% endfor %}
        </div>
      </div>      
      {% else %}
      <div class="flex flex--col flex--top stretch-y">
        <div class="label label--inverted">{{ theme | upcase }}</div>
        <div class="label">{{ wordlist.size }} WORDS</div>
      </div>
      {% endif %}
      {% endif %}

      {% if horizontal %}
      {% render "grid", grid: grid, gridSize:gridSize, stretch: stretch %}
      {% endif %}
      {% if show_solution == "yes" andshow_qr %}
      <div class="flex flex--col flex--top stretch-y {% if horizontal %}mt-4{%endif%}"> 
        <div class="label label--inverted">SOLUTION </div>
        {{ qr_data | qr_code: 3, 'm' }}</div>
      {% endif %}
    </div>
  </div>
</div>


<div class="title_bar">
  <span class="title text--stroke">WORD SEARCH</span>
  <span class="instance">{{ difficulty | upcase }}</span>
</div>
{% endtemplate %}